<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.app_user">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/ic_main"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@drawable/ic_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".ui.writeReport.WriteReportActivity">
        </activity>
        <activity android:name=".ui.writeLost.LostWriteActivity">
        </activity>
        <activity android:name=".ui.writeReview.WriteReviewActivity">
        </activity>
        <activity android:name=".ui.applyVolunteer.ApplyVolunteerActivity">
        </activity>
        <activity android:name=".ui.applyProtect.ApplyProtectActivity">
        </activity>
        <activity android:name=".ui.detailVolunteer.DetailVolunteerActivity">
        </activity>
        <activity android:name=".ui.detailProtect.DetailProtectActivity"/>
        <activity android:name=".ui.detailReport.DetailReportActivity"/>
        <activity android:name=".ui.detailLost.DetailLostActivity">
        </activity>
        <activity android:name=".ui.detailReview.DetailReviewActivity">
        </activity>
        <activity android:name=".ui.applyAdopt.ApplyAdoptActivity">
        </activity>
        <activity android:name=".ui.detailAdopt.DetailAdoptActivity">
        </activity>
        <activity android:name=".ui.signup.SignupActivity">
        </activity>
        <activity android:name=".ui.login.LoginActivity">
        </activity>
        <activity
                android:name=".ui.main.MainActivity"
                android:windowSoftInputMode="adjustResize|adjustPan">
        </activity>
        <activity
                android:name=".ui.SplashActivity"
                android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>